<div class="columns">
  <div class="column">
    <div class="title"> Gigs You've Signed Up To </div>
  <table class="table is-fullwidth">
  <% @gigs_signed_up_to.each do |gig| %>
      <tr><td><%= link_to gig.title, gig %></a></td></tr>
  <% end %>
  </table>
  </div>

  <div class="column">
    <div class="title"> Upcoming Gigs </div>

  <table class="table is-fullwidth">
  <% @gigs.each do |gig| %>
      <tr><td><%= link_to gig.title, gig %></a></td>
        <td><%=  gig.when.to_formatted_s(:short)  %></td>
      </tr>
  <% end %>
  </table>
  </div>
</div>