
<div class="col-sm">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
 <div class="navbar-text"> Gigs You've Signed Up To </div>
</nav>
<% @gigs_signed_up_to.each do |gig| %>
<%= gig.title %>
<% end %>
</div>

<div class="col-sm">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
 <div class="navbar-text"> Upcoming Gigs </div>
</nav>

<% @gigs.each do |gig| %>
<%= gig.title %>
<% end %>

</div>