<h1 class="title">Members</h1>

<table class="table is-fullwidth">
<tr>
  <th>Email</th>
  <th>Name</th>
  <th>Instrument</th>
  <th>Phone</th>
<% @members.each do |member| %>
  <tr>
    <td><%= member.email %></td>
    <td><%= member.full_name %></td>
    <td><%= member.instrument.name %></td>
    <td><%= member.phone_number %></td>
<% end %>

</table>
